:8080 {
	encode gzip

	@opa {
    path /api/opa/v1/data/com/huna/public_authz*
  }
  rewrite @opa /v1/data/com/huna/public_authz
  reverse_proxy @opa http://localhost:8181

	root * /srv
	try_files {path} /index.html
	file_server
}
