:8080 {
	handle_path /api/opa/v1/data/com/huna/public_authz* {
		rewrite * /v1/data/com/huna/public_authz
		reverse_proxy localhost:8181 {
			method POST
		}
	}

	handle {
		encode gzip
		root * /srv
		try_files {path} /index.html
		file_server
	}
}