<mat-toolbar color="primary">
  <span class="cp" routerLink="/">huna2<small *ngIf="appEnv !== 'prod'"> {{ appEnv }}</small></span>
  <button [matMenuTriggerFor]="userMenu" *ngIf="!user" mat-icon-button>
    <mat-icon fontIcon="more_vert"></mat-icon>
  </button>
  <button [matMenuTriggerFor]="userMenu" *ngIf="user" mat-mini-fab color="primary">
    <small *ngIf="user">{{ userInitials }}</small>
  </button>

</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item *ngIf="user" disabled><mat-icon>person</mat-icon><span>{{ user.name }}</span></button>
  <button mat-menu-item [matMenuTriggerFor]="langMenu"><mat-icon fontIcon="language"></mat-icon><span>{{ 'ui.header.language' | translate }}</span></button>
  <button mat-menu-item *ngIf="!user" (click)="loginClicked.emit()"><mat-icon fontIcon="login"></mat-icon><span>{{ 'ui.header.login' | translate }}</span></button>
  <button mat-menu-item *ngIf="user" routerLink="/settings"><mat-icon fontIcon="settings"></mat-icon><span>{{ 'ui.header.settings' | translate }}</span></button>
  <button mat-menu-item *ngIf="user" (click)="logoutClicked.emit()"><mat-icon fontIcon="logout"></mat-icon><span>{{ 'ui.header.logout' | translate }}</span></button>
  <button mat-menu-item (click)="openVersionDetails()"><mat-icon fontIcon="info"></mat-icon><span>{{ 'ui.header.version' | translate }}: {{ appVersion }}</span></button>
</mat-menu>

<mat-menu #langMenu="matMenu">
  <button (click)="languageSelected.emit(lang.code)" mat-menu-item *ngFor="let lang of languages">
    <mat-icon
      fontIcon="done"
      [style.visibility]="currentLanguage === lang.code ? 'visible' : 'hidden'"
      ></mat-icon
    >
    <span>{{ lang.name }}</span>
  </button>
</mat-menu>
